body
{
    margin: 0;
    padding: 0;
    color: black;
    font-size: 12px;
    background: lightgray;
    width: 100%;
}

.logo
{
    text-align: center;
    font-size: 20px;
    font-family: 'Otomanopee One', sans-serif;
    margin-bottom: 40px;
}

.logo a
{
    text-decoration: none;
    color: inherit;
}

.logo img
{
    display: block;
    margin: 0 auto 0 auto;
    width: 5%;
}   

nav
{
    border: 2px darkgray solid;
    width: 200px;
    min-height: 400px;
    margin-left: 5px;
    font-size: 14px;
    float: left;
    background: #f7f7f7;
}

.lesson
{
    float: left;
    margin-left: 50px;
    min-height: 1000px;
}

footer
{
    clear: both;
    text-align: center;
    border: solid darkgray 2px;
    background: #f7f7f7;
}

ol
{
    padding-left: 20px;
}