body
{
    margin: 0;
    padding: 0;
    color: black;
    font-size: 12px;
    background: lightgray;
    width: 100%;
}

.logo
{
    text-align: center;
    font-size: 20px;
    font-family: 'Otomanopee One', sans-serif;
    margin-bottom: 40px;
}

.logo a
{
    text-decoration: none;
    color: inherit;
}

.logo img
{
    display: block;
    margin: 0 auto 0 auto;
    width: 5%;
}   


.lesson
{
    min-height: 1000px;
    text-align: center;
}

footer
{
    clear: both;
    text-align: center;
    border: solid darkgray 2px;
    background: #f7f7f7;
}

/* Lessons code is beneath this line */

form
{
    display: inline-block;
}

#username
{
    height: 40px;
    width: 240px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 0;
    text-align: center;
    text-transform: lowercase;
    font-size: 20px;
    color: #a0a0a0;
    padding: 0;
    box-sizing: border-box;
}

#username:hover
{
    border: solid 1px darkgray;
}

button
{
    width: 240px;
    border: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 10px;
}

button:hover
{
    border: solid 1px darkgray;
}
label
{
    font-size: 20px;
}

.wybor
{
    color: white;
    font-size: 16px;
    text-align: left;
    width: 240px;
}