body
{
    margin: 0;
    padding: 0;
    color: black;
    font-size: 12px;
    background: lightgray;
    width: 100%;
}

.logo
{
    text-align: center;
    font-size: 20px;
    font-family: 'Otomanopee One', sans-serif;
    margin-bottom: 40px;
}

.logo a
{
    text-decoration: none;
    color: inherit;
}

.logo img
{
    display: block;
    margin: 0 auto 0 auto;
    width: 5%;
}   


.lesson
{
    min-height: 1000px;
    text-align: center;
}

footer
{
    clear: both;
    text-align: center;
    border: solid darkgray 2px;
    background: #f7f7f7;
}

/* Lessons code is beneath this line */

.box
{
    width: 75px;
    height: 75px;
    background: darkred;
    margin: 20px;
}

#box1:hover
{
    transform: scale(1.2);
    text-transform: uppercase;
}

#box2
{
    transform: skewX(16deg);
}

#box3
{
    border-radius: 50%;
    box-shadow: lightyellow -10px 0px 0px 5px;
    background: transparent;
    position: relative;
}

#box4
{
    margin-left: 100px;
    position: absolute;
    animation-name: movement;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.3, 0.4, 0.5, 1.6);
}

#box4::before
{
    content: "";
    width: 53px;
    height: 53px;
    background: darkred;
    transform: rotate(45deg);
    position: absolute;
    left: -27px;
    top: 11px
}
#box4::after
{
    content: "";
    width: 53px;
    height: 53px;
    background: darkred;
    transform: rotate(45deg);
    position: absolute;
    left: 49px;
    top: 11px;
}

@keyframes movement
{
    0%
    {
        left: 0px;
    }
    50%
    {
        left: 100px;
        opacity: 0.2;
    }
    100%
    {
        left: 0px;
    }
}

#box5:hover
{
    animation-name: change-color;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
}

@keyframes change-color
{
    0%
    {
        background: darkred;
    }
    50%
    {
        background: blue;
        width: 100px;
        height: 100px;
    }
    100%
    {
        background: yellow;
    }
}
.sr-only { /*for screen readers only*/
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
  }
  